<{formBlock}>
  <label for="title">Title</label>
  <br>
  %= await tags.textField('title', {value: post.title});
  <br>
  <label for="body">Body</label>
  <br>
  %= await tags.textArea('body', {}, post.body)
  <br>
  %= await tags.submitButton(caption)
<{/formBlock}>
%= await tags.formFor(target, {class: 'blog-form'}, await formBlock())
