% view.layout = 'blog';
% stash.title = 'Blog';
% for (const post of posts) {
  <h2><%= await tags.linkTo(['show_post', {values: {id: post.id}}], {class: 'blog-title'}, post.title) %></h2>
  <p>
    %= post.body
  </p>
% }
%= await tags.linkTo('create_post', {class: 'blog-action'}, 'New post')
