% view.layout = 'blog';
% stash.title = 'Blog';
% for (const post of posts) {
  <h2><%= ctx.linkTo(['show_post', {values: {id: post.id}}], {}, post.title) %></h2>
  <p>
    %= post.body
  </p>
% }
%= ctx.linkTo('create_post', {}, 'New post')
